flows.json
[{"id":"3af82246.3634ae","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"41625f36.a1df5","type":"inject","z":"3af82246.3634ae","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":120,"y":150,"wires":[["d79ebe35.df52b"]]},{"id":"d79ebe35.df52b","type":"debug","z":"3af82246.3634ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":470,"y":80,"wires":[]},{"id":"cc350f27.2f037","type":"http in","z":"3af82246.3634ae","name":"","url":"/hello","method":"get","upload":false,"swaggerDoc":"","x":150,"y":270,"wires":[["90f4b064.22b99"]]},{"id":"6d1838ef.eea298","type":"http response","z":"3af82246.3634ae","name":"","statusCode":"","headers":{},"x":520,"y":280,"wires":[]},{"id":"90f4b064.22b99","type":"change","z":"3af82246.3634ae","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"{\"text\":\"Hello\"}","tot":"json"}],"action":"","property":"","from":"","to":"","reg":false,"x":340,"y":280,"wires":[["6d1838ef.eea298"]]}]
